// @import "../bootstrap/less/bootstrap.less";
// @import "public_bootstrap.less";

.carousel>.carousel-inner>.item img{
	width: 100%;
}
h3{
	margin: 0;
}
.clear{
	display: block;
	content: "";
	clear: both;
}

/* 显示一行，超过的省略 */ 
.show-one-line{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;	
}
/* 显示两行，超过的省略 */ 
.show-two-line{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	overflow: hidden;
	text-overflow: ellipsis;
}

// 轮播图显示文字
.carousel-caption>span{
	font-size: 1em;
}

/* 社区热帖 */
.hot-topic-head{
	padding-bottom: 10px;
	h3{
		display: inline-block;
	}
	h5{
		float: right;
		font-size: 1em;
	}
}
#today-topic,#member{
	font-weight: bold;
	font-size: 1.2em;
	color: #32a5e7;
}


/* 帖子内容 */
.topic-context{
	margin-left: 3.2rem;
	line-height: 24px;
	>a{
		font-size: 1em;
	  color: #333;
	  // width: 95%;
	  .show-two-line;
	}
}
.topic-context>p>span,.view-num>i,.comment-num>i{
	font-size: 1em;
	margin-right: 0.8em;
	display: inline-block;
	vertical-align: top;
}

.username{
	max-width: 9.5em;
	margin-right: 0.8em;
	color: #999;
	.show-one-line;
}

/* 精选图文topic  */
.featured-topic {
	.row{
		padding: 10px 0;
	}
	.featured-topic-content{
		padding: 0;
	}
	img{
		width: 100%;
	}
}
.featured-topic-title{
	padding-left: 5px;
	font-size: 1.1em;
	font-weight: bold;
}
.featured-topic-title,.topic-sub-title{
	width: 100%;
	.show-two-line;
}
.topic-sub-title{
	padding-left: 5px;
	font-size: 1.5rem;
}

.topic-tag{
	padding: 5px;
}
.topic-info{
	text-align: right;
	font-size: 1.2rem;
	padding: 5px 0;
	>span,>.publisher{
		margin-right: 5px;
	}
	>.publisher{
		max-width: 8em;
		display: inline-block;
		vertical-align: middle;
		color: #999;
		.show-one-line;
	}
}
.read-all{
	color: #31A5E7;
}
.share-weibo{
	width: 28px;
  height: 22px;
  margin-left: 5px; 
  background: url(../imgs/main_icon.gif) no-repeat -60px -630px;
	display: inline-block;
  vertical-align: middle;
}
.share-weibo:hover{
	opacity: .5;
}

/* 右侧部分 */
// 热门板块
#hot-area{
	list-style: none;
	padding: 0;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	>li{
		float: left;
		width: 50%;
		border-bottom: 1px solid #ddd;
		border-right: 1px solid #ddd;
		>a{
			display: inline-block;
			width: 100%;
			height: 2.5em;
			line-height: 2.5em;
			padding: 0 1em 0 0.5em;
			.show-one-line;
		}
	}
	>li:nth-child(4n),>li:nth-child(4n+1){
		background: #f8f8ff;
	}
	&:after{
		.clear;
	}
}
// 最新活动
#newest-action{
	dl{
		margin: 10px 0;
		dt,dd{
			display: inline-block;
			vertical-align: top;
		}
		dt{
			width: 45%;
			img{
				max-width: 100%;
				max-height: 100%;
			}
		}
		dd{
			margin-left: 1%;
			width: 52%;
			h4,.action-sub-title{
				display: block;
				width: 100%;
			}
			h4{
				margin: 0 0 10px 0;
				font-size: 1em;
				font-weight: bold;
				.show-one-line;
			}
			.action-sub-title{
				margin: 0 0 5px 0;
				font-size: 0.8em;
				font-weight: 400;
				.show-two-line;
			}
			a{
				font-size: 1em;
				color: #32a5e7;
			}
		}
		&:after{
			.clear;
		}
	}
}

/* footer */
#footer-box{
	width: 100%;
	padding: 10px 0;
	margin-top: 10px;
	border-top: 1px solid #ddd;
	text-align: center;
	>a{
		margin-right: 10px;
	}
}

.lang-list {
	display: inline-block;
	> .dropdown-menu{
		bottom: 20px;
	}
}