/* 子版块 */
.sub-topic,.topic-list-box{
	padding: 20px;
}
.sub-topic{
	height: 65px;
	line-height: 25px;
}
.sub-topic:after{
	content: "";
	display: block;
	clear: both;
}
.sub-topic>span{
	float: left;
}
.sub-topic>img{
	float: right;
	vertical-align: middle;
	cursor: pointer;
}

/* 内容部分：发帖按钮所在行 */
.topic-type{
	/*padding: 24px 0;*/
	line-height: 36px;
}
.topic-type span,.topic-type i,.topic-type em,.publish-topic{
	display: inline-block;
	vertical-align: middle;
}
.topic-type-list{
	margin: 0 20px;
}
.topic-type-list i{
	height: 14px;
	border: 1px solid #ddd;
	margin: 0 5px;
}
.order-type,.order-type>a{
	position: relative;
}
.order-type>a{
	padding-right: 10px;
}
.order-type em{
	width: 5px;
	height: 5px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(../imgs/main_icon.gif) no-repeat -149px -347px;
}
#order-type-list{
	width: 110px;
	padding: 0 15px;
	line-height: 40px;
	border: 1px solid #ddd;
	text-align: center;
	margin-top: 5px;
	position: absolute;
	left: -25px;
	background: #fff;
	display: none;
}
#order-type-list>li{
	border-top: 1px solid #ddd;
}
#order-type-list>li:first-child{
	border: none;
}
a.active{
	color: #32a5e7;
}
/*发帖按钮*/
.publish-topic{
	float: right;
	width: 96px;
	height: 36px;
	line-height: 36px;
	background: #2799db;
	border: 1px solid #309ddb;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
.publish-topic:hover{
	color: #fff;
}

/* 帖子列表 */
#topic-list{
	border-top: 1px solid #ddd;
	margin-top: 20px;
}
#topic-list>li{
	width: 100%;
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #ddd;
	position: relative;
}
.user-icon>img{
	width: 44px;
	height: 44px;
	border-radius: 50%;
	vertical-align: middle;
}
#topic-list .topic-title{
	width: 480px;
	font-size: 16px;
	color: #000;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
}
.publish-info{
	float: right;
	width: 135px;
	line-height: 24px;
	padding: 11px 0;
	color: #9f9f9f;
	text-align: right;
}
.publish-info>a{
	color: #9f9f9f;
	display: block;
	width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* 隐藏部分：用户信息 */
.user-info{
	width: 400px;
	position: absolute;
	top: 0;
	left: -20px;
	background: #fff; 
	border: 1px solid #ddd;
	padding: 20px;
	display: none;
	z-index: 100;
}
.user-info>img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}
.user-info > .info{
	padding-left: 70px;
}
.info>a,.info>p{
	height: 28px;
	line-height: 28px;
}
.user-info .info>a{
	display: block;
	color: #32a5e7;
}
.info>p>span{
	font-weight: bold;
	font-size: 16px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.listen-he{
	width: 72px;
	height: 30px;
	float: right;
	border: 1px solid #bae3f0;
	background: #dbf3fb;
}
.user-icon:hover ~ .user-info,.user-info:hover{
	display: block;
}
/* 帖子列表结束 */
/* 帖子分页 */
#page-list{
	padding: 20px 0;
	line-height: 34px;
}
#page-list span,#page-list li{
	display: inline-block;
	width: 36px;
	height: 36px;
	color: #333;
	font-size: 18px;
	margin-left: 10px;
	background-color: #f3f3f3;
	border: 1px solid #f0f0f0;
	border-radius: 18px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
}
.page-num{
	display: inline-block;
	vertical-align: middle;
}
#page-list em{
	width: 10px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
}
#page-list .pre-page{
	margin-left: 0;
}
.pre-page>.pre{
	background: url(../imgs/main_icon.gif) no-repeat -124px -568px;
}
.next-page>.next{
	background: url(../imgs/main_icon.gif) no-repeat -152px -568px;
}
#page-list>.page-disable>.pre{
	background-position: -182px -568px;
}
#page-list>.page-disable>.next{
	background-position: -210px -568px;
}
#page-list .page-active{
	background-color: #32a5e7;
	color: #fff;
	font-weight: bold;
}
#page-list .page-ignore{
	width: 76px;
}